.idea/httpRequests/2018-12-06T012303.200.xml

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
             name="IWebAppAverbaservice" targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
    <message name="EnviaXML0Request">
        <part name="fFileSend" type="xs:string"/>
        <part name="cCNPJ" type="xs:string"/>
    </message>
    <message name="EnviaXML0Response">
        <part name="return" type="xs:string"/>
    </message>
    <message name="EnviaXMLRet1Request">
        <part name="fFileSend" type="xs:string"/>
        <part name="cCNPJ" type="xs:string"/>
        <part name="cNumCTE" type="xs:string"/>
    </message>
    <message name="EnviaXMLRet1Response">
        <part name="return" type="xs:string"/>
    </message>
    <message name="EnviaManifesto2Request">
        <part name="fFileSend" type="xs:string"/>
        <part name="cCNPJ" type="xs:string"/>
    </message>
    <message name="EnviaManifesto2Response">
        <part name="return" type="xs:string"/>
    </message>
    <message name="EnviaModelo3Request">
        <part name="fFileSend" type="xs:string"/>
        <part name="cCNPJ" type="xs:string"/>
    </message>
    <message name="EnviaModelo3Response">
        <part name="return" type="xs:string"/>
    </message>
    <message name="EnviaXMLCANRet4Request">
        <part name="fFileSend" type="xs:string"/>
        <part name="cCNPJ" type="xs:string"/>
        <part name="cNumCTE" type="xs:string"/>
    </message>
    <message name="EnviaXMLCANRet4Response">
        <part name="return" type="xs:string"/>
    </message>
    <portType name="IWebAppAverba">
        <operation name="EnviaXML">
            <input message="tns:EnviaXML0Request"/>
            <output message="tns:EnviaXML0Response"/>
        </operation>
        <operation name="EnviaXMLRet">
            <input message="tns:EnviaXMLRet1Request"/>
            <output message="tns:EnviaXMLRet1Response"/>
        </operation>
        <operation name="EnviaManifesto">
            <input message="tns:EnviaManifesto2Request"/>
            <output message="tns:EnviaManifesto2Response"/>
        </operation>
        <operation name="EnviaModelo">
            <input message="tns:EnviaModelo3Request"/>
            <output message="tns:EnviaModelo3Response"/>
        </operation>
        <operation name="EnviaXMLCANRet">
            <input message="tns:EnviaXMLCANRet4Request"/>
            <output message="tns:EnviaXMLCANRet4Response"/>
        </operation>
    </portType>
    <binding name="IWebAppAverbabinding" type="tns:IWebAppAverba">
        <binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc"
                 transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="EnviaXML">
            <operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/"
                       soapAction="urn:WebAppAverbaIntf-IWebAppAverba#EnviaXML" style="rpc"/>
            <input>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                      namespace="urn:WebAppAverbaIntf-IWebAppAverba"/>
            </input>
            <output>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                      namespace="urn:WebAppAverbaIntf-IWebAppAverba"/>
            </output>
        </operation>
        <operation name="EnviaXMLRet">
            <operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/"
                       soapAction="urn:WebAppAverbaIntf-IWebAppAverba#EnviaXMLRet" style="rpc"/>
            <input>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                      namespace="urn:WebAppAverbaIntf-IWebAppAverba"/>
            </input>
            <output>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                      namespace="urn:WebAppAverbaIntf-IWebAppAverba"/>
            </output>
        </operation>
        <operation name="EnviaManifesto">
            <operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/"
                       soapAction="urn:WebAppAverbaIntf-IWebAppAverba#EnviaManifesto" style="rpc"/>
            <input>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                      namespace="urn:WebAppAverbaIntf-IWebAppAverba"/>
            </input>
            <output>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                      namespace="urn:WebAppAverbaIntf-IWebAppAverba"/>
            </output>
        </operation>
        <operation name="EnviaModelo">
            <operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/"
                       soapAction="urn:WebAppAverbaIntf-IWebAppAverba#EnviaModelo" style="rpc"/>
            <input>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                      namespace="urn:WebAppAverbaIntf-IWebAppAverba"/>
            </input>
            <output>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                      namespace="urn:WebAppAverbaIntf-IWebAppAverba"/>
            </output>
        </operation>
        <operation name="EnviaXMLCANRet">
            <operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/"
                       soapAction="urn:WebAppAverbaIntf-IWebAppAverba#EnviaXMLCANRet" style="rpc"/>
            <input>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                      namespace="urn:WebAppAverbaIntf-IWebAppAverba"/>
            </input>
            <output>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                      namespace="urn:WebAppAverbaIntf-IWebAppAverba"/>
            </output>
        </operation>
    </binding>
    <service name="IWebAppAverbaservice">
        <port name="IWebAppAverbaPort" binding="tns:IWebAppAverbabinding">
            <address xmlns="http://schemas.xmlsoap.org/wsdl/soap/"
                     location="http://servsenigwin.virtuaserver.com.br/wsdl/WebAppAverba.exe/soap/IWebAppAverba"/>
        </port>
    </service>
</definitions>

